@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
	text-align: left;
}

ul {
	&.deposit-reqs,
	&.withdrawal-reqs {
		font-size: 13px;
	}
	// &.withdrawal-reqs {
	// 	color: red;
	// }
}

.capitalize {
	text-transform: capitalize;
}

.d-none {
	display: none;
}
